<%- include('start'); -%>

<section class="dishtype">
<div id="temp">
  <div class="container">
    <div class="row">
   
      <div class="col-lg-12 d-flex justify-content-center mydish">
        <h1 class="my-5"><%= mydish %></h1>
      </div>

    </div>


  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">

            <a class="nav-link active navtype" aria-current="page" href="/recipes">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navtype" href="/about">About us</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link navtype" href="/contact">Reach us</a>
          </li>
      </div>
    </div>
  </nav>
 
<div class="cook">
<% var j = 0; %>
<% var i = 0; %>
<% var size = dishes.length; %>
<% while(i<rows) { %>
    <div class="row">
      <% j=0 %>
      <% while(j<3 && size>0 ) { %>
        <div class="col col-lg-4">
            <div class="card my-3 mx-3 dish" style="width: 18rem;" align="center">
                <img src="<%= dishes[dishes.length-size].image %>" height="200px"class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= dishes[dishes.length-size].title %></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <form action="/recipe-info/<%= dishes[dishes.length-size].id %>" method="POST">
                   <button type="submit">Get recipe</button>
                  </form>
                 
                </div>
              </div>
        </div>
        <% j += 1; %>
        <%  size -= 1; %>
      <% } %>
      <%  i += 1; %>
    </div>
  <% } %>            
</div>

</section>
<%- include('end'); -%>