<%- include('start'); -%>
<section class="heading d-flex justify-content-center head a-1">
    
   <div class="dots dot-l"></div> <h1 style="position:relative; top:20px; font-family: 'Great Vibes', cursive; font-size: 4rem;"><%= mycuisine %></h1> <div class="dots dot-r"></div> 
  </section>
 
 
<section class="dishtype">
    <div id="temp" class="type">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(247, 181, 181);">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item" style="padding: 0px 3px;">
        
                    <a class="nav-link active navtype" aria-current="page" href="/recipes">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navtype" href="#">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navtype" href="#">Cuisines</a>
                  </li>
              </div>
            </div>
          </nav>
        <img src="/images/hat.png" alt="" srcset="" height="130px" width="130px" style="position:relative; bottom: 105px; right: 25px;">
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/main course" method="post">
                <img src="/images/mainc-1.jpg" alt="">
              
            <button type="submit" class="mytype"><p>Main course</p></button>
            <img src="/images/mainc-2.jpg" alt="">
                
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/side dish" method="post">
                <img src="/images/sd-1.jpg" alt="">
                   
                <button type="submit" class="mytype"><p>Side dish</p></button>
                <img src="/images/sd-2.jpg" alt="">
               
                </form>

        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/dessert" method="post">
                <img src="/images/d-1.jpg" alt="">
               
            <button type="submit" class="mytype"><p>Dessert</p></button>
            <img src="/images/d-2.jpg" alt="">
                
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/appetizer" method="post">
                <img src="/images/a-1.jpg" alt="">
                
            <button type="submit" class="mytype"><p>Appetizer</p></button>
            <img src="/images/a-2.jpg" alt="">
              
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/salad" method="post">
                <img src="/images/sd-1.jpg" alt="">
               
            <button type="submit" class="mytype"><p>Salad</p></button>
            <img src="/images/sd-2.jpg" alt="">
                 
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/bread" method="post">
                <img src="/images/b-1.jpg" alt="">
                
            <button type="submit" class="mytype"><p>Bread</p></button>
            <img src="/images/b-2.jpg" alt="">
             
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/breakfast" method="post">
                <img src="/images/br-1.jpg" alt="">
             
            <button type="submit" class="mytype"><p>Breakfast</p></button>
            <img src="/images/br-2.jpg" alt="">
             
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/soup" method="post">
                <img src="/images/soup-1.jpg" alt="">
             
            <button type="submit" class="mytype"><p>Soup</p></button>
            <img src="/images/soup-2.jpg" alt="">
             
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/beverage" method="post">
                <img src="/images/bev-1.jpg" alt="" height: 200px; width: 350px;>
        
            <button type="submit" class="mytype"><p>Beverage</p></button>
            <img src="/images/bev-2.jpg" alt="" height: 200px; width: 350px;>
        
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/sauce" method="post">
                <img src="/images/sauce-1.jpg" alt="" height: 200px; width: 350px;>
         
            <button type="submit" class="mytype"><p>Sauce</p></button>
            <img src="/images/sauce-2.jpg" alt="" height: 200px; width: 350px;>
            
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/marinade" method="post">
                <img src="/images/marinade-1.jpg" alt="" height: 200px; width: 350px; >
         
            <button type="submit" class="mytype"><p>Marinade</p></button>
            <img src="/images/marinade-2.jpg" alt="" height: 200px; width: 350px;>
            
            </form>
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/fingerfood" method="post">
                <img src="/images/ff-1.jpg" alt="">
              <button type="submit" class="mytype"><p>Fingerfood</p></button>
                <img src="/images/ff-2.jpg" alt="">
                </form> 

        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/snack" method="post">
                <img src="/images/snack-1.jpg" alt="">
                <button type="submit" class="mytype"><p>Snack</p></button>
                <img src="/images/snack-2.jpg" alt="">
                </form> 
        </div>
        <div class="col col-12 d-flex justify-content-center">
            <form action="/recipes/<%= mycuisine %>/drink" method="post">
                <img src="/images/drink-1.jpg" alt="">
                <button type="submit" class="mytype"><p>Drink</p></button>
                <img src="/images/drink-2.jpg" alt="">
     
                </form>
        </div>












    
        
    </div>
    
        
           
</section>


<%- include('end'); -%>